  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Day');
      data.addColumn('number', 'Cumulative Confirmed Cases');
     
      data.addRows([
       {{#each cumuldata}}
        [{{this}}],
       {{/each}}
        
      
      
      ]);

      var options = {
        chart: {
          title: '{{countryarr.countryName}}',
          subtitle: 'covid-19'
        },
     
     
        
      };

      var chart = new google.charts.Line(document.getElementById('cumulative'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }
   
</script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
     data.addColumn('number', 'Day');
      data.addColumn('number', 'New Cases');

    
        
      data.addRows([
      {{#each newdata}}
        [{{this}}],
       {{/each}}
      
      
      ]);

      var options = {
        chart: {
          title: '{{countryarr.countryName}}',
          subtitle: 'covid-19'
        },
      
     
        
      };

      var chart = new google.charts.Line(document.getElementById('newcase'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }
   
</script>
 <script type="text/javascript">
    google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
     data.addColumn('number', 'Day');
      data.addColumn('number', 'Cumulative Death Cases');


      data.addRows([
       {{#each deathdata}}
        [{{this}}],
       {{/each}}
        
      
      
      ]);

      var options = {
        chart: {
          title: '{{countryarr.countryName}}',
          subtitle: 'covid-19'
        },
        
        
      };

      var chart = new google.charts.Line(document.getElementById('death'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }
   
</script>
<div class="country">

     	
<div class="flag"  title="{{countryarr.countryName}}"> 
    <img src="/img/{{countryarr.countryName}}.png" alt="">
</div>

   
 
        <h3 class="s_tit">{{countryarr.countryName}}</h3>
        <ul class="worldstat">
            
            <li>Total Confirmed: {{countryarr.confirmed_cases}}</li>
            <li>New Confirmed: +{{countryarr.new_confirmed_cases}}</li>
            <li>Total Death: {{countryarr.total_deaths}}</li>
        </ul>
  
   <div id="cumulative" class="cumulative" ></div>
     <div id="newcase" class="newcase"></div>
       <div id="death" class="death"></div>




</div>