<div class="country">

     	
<div class="flag"  title="{{countryarr.countryName}}"> 
    <img src="/img/{{countryarr.countryName}}.png" alt="">
</div>

   
 
        <h3 class="s_tit">{{countryarr.countryName}}</h3>
        <ul class="worldstat">
            
            <li>Total Confirmed: {{countryarr.confirmed_cases}}</li>
            <li>New Confirmed: +{{countryarr.new_confirmed_cases}}</li>
            <li>Total Death: {{countryarr.total_deaths}}</li>
        </ul>
  
   <div id="chart1" style="width: 800px; height: 500px;"></div>




</div>