<div id class="country">
    <div id="countryPic">
        <img src="/pic/{{picture}}" alt="국기">
    </div>
    <div class="home">
        <h3 class="s_tit">Global Status</h3>
        <ul class="worldstat">
            <li>&emsp; Total Cases: {{totalCase}}({{newCase}})</li>
            <li>&emsp;Death Cases: {{totalDeathCase}}({{newDeaths}})</li>
            <li> Total Recovered: {{totalRecovered}}</li>
        </ul>
    </div>


</div>