<div class="home">
<h3 class="s_tit">Global Status</h3>
<ul class="worldstat">
<li>&emsp; Total Cases<br>{{country.totalCase}}({{country.newCase}})</li>
<li>&emsp;Death Cases<br>{{country.totalDeathCase}}({{country.newDeaths}})</li>
<li> Total Recovered<br>&emsp; &nbsp;{{country.totalRecovered}}</li>
</ul>
</div>
