<div class="home">
    <h3 class="s_tit">Global Status</h3>
<ul class="worldstat">
<li> Confirmed Cases<br>{{worldConfirm}} (+ {{worldNewConfirm}})</li>
<li>Death Cases<br>{{worldDeath}}</li>

</ul>

    <div class="sidebar">
        <h3>Where are you from?</h3>
        <ul>
            <li>
              
            <form id ="countrySearch" method="POST" action="/countrySpec/{{name}}?method=PUT"> 
                    <select  name="menu" class="selectbar">
                          {{#each countryarr}}
                        <option value="{{this.countryName}}">{{this.countryName}}</option>
                        {{/each}}
                    </select>
                    <input class="button" type="submit" value="Search">
                </form>
            </li>

        </ul>
    </div>
</div>