<div class="home">
    <h3 class="s_tit">Global Status</h3>
<ul class="worldstat">
<li> Confirmed Cases<br>{{worldConfirm}} (+ {{worldNewConfirm}})</li>
<li>Death Cases<br>{{worldDeath}}</li>

</ul>

    <div class="sidebar">
        <h3>Where are you from?</h3>
        <ul>
            <li>
                <form class="countrySearch" action="/country" method="POST" width="100" height="100">

                    <select class="selectbar" name="countrymenu">
                          {{#each countryarr}}
                        <option value="{{this.countryName}}">{{this.countryName}}</option>
                        {{/each}}
                    </select>
                    <input class="button" type="submit" value="search">
                </form>
            </li>

        </ul>
    </div>
</div>