<div class="home">
    <!--<h3 class="s_tit">Global Status</h3>
<ul class="worldstat">
<li>&emsp; Total Cases<br>{{country.totalCase}}({{country.newCase}})</li>
<li>&emsp;Death Cases<br>{{country.totalDeathCase}}({{country.newDeaths}})</li>
<li> Total Recovered<br>&emsp; &nbsp;{{country.totalRecovered}}</li>
</ul>
-->
    <div class="sidebar">
        <h3>Where are you from?</h3>
        <ul>
            <li>
                <form class="productsearch" action="/product" method="POST" width="100" height="100">

                    <select class="selectbar" name="productmenu">
                        <option value="Automotive">Automotive</option>
                        <option value="Arts & Crafts">Arts & Crafts</option>
                        <option value="Beauty and personal care">Beauty and personal care</option>
                        <option value="Computers">Computers</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Women's Fashion">Women's Fashion</option>
                        <option value="Men's Fashion">Men's Fashion</option>
                        <option value="Home and Kitchen">Home and Kitchen</option>
                        <option value="Toys and Games">Toys and Games</option>
                    </select>
                    <input class="button" type="submit" value="search">
                </form>
            </li>

        </ul>
    </div>
</div>