<table class="worldtable"border=1>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>totalCase</th>
            <th>newCase</th>
            <th>totalDeathCase</th>
            
        </tr>
    </thead>
    <tbody>
    {{#each countryarr}}
    <tr>
            <td>{{this.rank}}</td>
            <td><a href="/countrySpec/{{this.countryName}}">{{this.countryName}}</a> </td>
            <td>{{this.confirmed_cases}}</td>
            <td>+{{this.new_confirmed_cases}}</td>
            <td>{{this.total_deaths}}</td>
           

    </tr>
    {{/each}}
    </tbody>
</table>